<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" th:href="@{/css/indexStylesheet.css}">
</head>

<body>
	<div id="topPage">
		<img class="logo" src="/images/logo.png">
		<p class="topPageItem">telephone: +39 3331234567</p>
		<p class="topPageItem">email: roma3catering@gmail.com</p>
	</div>

	<div class="allBody">

		<h2>ALL BUFFETS</h2>

		<div class="flexBox">
			<div class="row">
				<div class="detailsImg">
					<img th:src="@{'/images/generalBuffet.jpg'}">
				</div>
				<div class="textCell">
					<div th:each="buffet : ${buffets}">
						<a th:href="@{'/buffet/id/'+${buffet.id}}">
							<p th:text="${buffet.nome}">Nome buffet</p>
						</a>
					</div>
				</div>
			</div>
		</div>

		<br></br>

		<h2>ALL CHEFS</h2>

		<div class="flexBox">
			<div class="row">
				<div class="detailsImg">
					<img th:src="@{'/images/generalChef.jpeg'}">
				</div>
				<div class="textCell">
					<ul>
						<div th:each="chef : ${chefs}">
							<li>
								<a th:href="@{'/chef/id/'+${chef.id}}">
									<p th:text="${chef.nome}+' '+${chef.cognome}">Chef name</p>
								</a>
							</li>
						</div>
					</ul>
				</div>
			</div>
		</div>
		<br></br>
		<br></br>
	</div>

</body>

</html>