<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" th:href="@{/css/indexStylesheet.css}">

</head>

<body>
	<div id="topPage">
		<img class="logo" src="/images/logo.png">
		<div class="topPageItem">
			<p>1° classificato Miglior CateringRoma 2022 </p>
		</div>
		<div class="topPageItem">
			<div class=centerDiv>
				<p class="pTop">Email: roma3catering@gmail.com</p>
				<p class="pTop">Telephone: +39 3331234567</p>
			</div>
		</div>
	</div>

	<div class="allBody">
		<h2>ADD NEW CHEF</h2>


		<form th:action="@{/chef}" method="post" th:object="${chef}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>
			<br></br>
			<div>
				nome: <input type="text" th:field="*{nome}" />
				<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
			</div>
			<br></br>

			<div>
				cognome: <input type="text" th:field="*{cognome}" />
				<div th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></div>
			</div>
			<br></br>
			<div>
				nazionalita: <input type="text" th:field="*{nazionalita}" />
				<div th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></div>
			</div>
			<br></br>
			<div>
				descrizione: <input type="text" th:field="*{descrizione}" />
				<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
			</div>
			<br></br>
			<div>
				<p class="topPageItem"><button type="submit">CONFIRM</button></p>
			</div>
		</form>
		<p><a th:href=@{/chefsAdmin}>View all chefs</p>
		<br></br>
		<br></br>
	</div>
</body>

</html>