<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" th:href="@{/css/indexStylesheet.css}">

</head>

<body>
	<div id="topPage">
		<img class="logo" src="/images/logo.png">
		<div class="topPageItem">
			<p>1° classificato Miglior CateringRoma 2022 </p>
		</div>
		<div class="topPageItem">
			<div class=centerDiv>
				<p class="pTop">Email: roma3catering@gmail.com</p>
				<p class="pTop">Telephone: +39 3331234567</p>
			</div>
		</div>
	</div>

	<div class="allBody">

		<h2>ALL DISHES ADMIN</h2>

		<table border="1">
			<colgroup id="a" span="3"></colgroup>
			<thead>
				<tr>
					<th>NAME</th>
					<th>DESCRIZIONE</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="piatto : ${piatti}">
					<a th:href="@{'/piatto/id/'+${piatto.id}}"><td th:text="${piatto.nome}"></td></a>
					<td th:text="${piatto.descrizione}"></td>
				</tr>

			</tbody>

		</table>
		<br></br>
		<br></br>
	</div>

</body>

</html>